@inherits LayoutComponentBase
@inject AuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ICategoryApi CategoryApi
@inject IJSRuntime JSRuntime


<nav class="navbar navbar-expand-lg navbar-light fixed-top py-lg-0 blue">
	<div class="container-fluid">
		<a class="navbar-brand text-white fw-bold" href="/home">ItirafEt</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
				aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" style="filter: invert(1);"></span>
		</button>

		<div class="collapse navbar-collapse mt-lg-0 mt-3" id="navbarMain">
			<ul class="navbar-nav ms-auto d-flex align-items-lg-center gap-3 me-4">
				<!-- Kategoriler -->
				<li class="nav-item dropdown order-lg-1">
					<a class="nav-link dropdown-toggle text-white d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-folder2-open fs-5"></i> Kategoriler
					</a>
					<ul class="dropdown-menu border-0 shadow-lg" style="background: rgba(75, 108, 183, 0.9); backdrop-filter: blur(10px);">
						@foreach (var category in _categories)
						{
							<li>
								<NavLink class="dropdown-item py-2" href=@($"/categories/{category.Id}")>
									<div class="d-flex align-items-center gap-2">
										<span class="@category.CategoryIconUrl d-inline-flex align-items-center text-white" style="font-size: 1.4rem"></span>
										<span class="fs-6 text-white">@category.CategoryName <small>(@category.PostCount)</small></span>
									</div>
								</NavLink>
							</li>
						}
					</ul>
				</li>

				<li class="order-lg-2">
					<AuthorizeView Context="Adminastor">
						<Authorized>
							<AuthorizeView Roles="@allowedRoles">
								<li class="nav-item d-lg-block">
									<NavLink class="nav-link text-white d-flex align-items-center gap-1" href="/admin/adminastorPanel">
										<i class="bi bi-speedometer fs-5"></i> Yönetim
									</NavLink>
								</li>
							</AuthorizeView>
						</Authorized>
					</AuthorizeView>
				</li>
				<li class="order-lg-2">
					<AuthorizeView Context="LoggedInContext">
						<Authorized>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white d-flex align-items-center gap-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-person-check fs-5"></i> @AuthStateProvider.User?.userName.ToUpper()
								</a>
								<ul class="dropdown-menu border-0 shadow-lg" style="background: rgba(75, 108, 183, 0.9); backdrop-filter: blur(10px);">
									<li>
										<NavLink class="dropdown-item py-2 d-flex align-items-center gap-2 text-white" href="posts/createPosts">
											<i class="bi bi-pen"></i>
											<span>İtiraf Et</span>
										</NavLink>
									</li>
									<li>
										<NavLink class="dropdown-item py-2 d-flex align-items-center gap-2 text-white" href="">
											<i class="bi bi-envelope"></i>
											<span>Mesajlar</span>
										</NavLink>
									</li>
									<li>
										<NavLink class="dropdown-item py-2 d-flex align-items-center gap-2 text-white" href="">
											<i class="bi bi-gear"></i>
											<span>Ayarlar</span>
										</NavLink>
									</li>
									<li>
										<NavLink class="dropdown-item py-2 d-flex align-items-center gap-2 text-white" @onclick="LogOutAsync" style="cursor: pointer;">
											<i class="bi bi-x-circle"></i>
											<span>Çıkış Yap</span>
										</NavLink>
									</li>
								</ul>
							</li>
						</Authorized>
						<NotAuthorized>
							<li class="nav-item">
								<NavLink class="nav-link text-white d-flex align-items-center gap-1" href="/auth/login">
									<i class="bi bi-person-circle fs-5"></i> Giriş
								</NavLink>
							</li>
						</NotAuthorized>
					</AuthorizeView>
				</li>
			</ul>
		</div>
	</div>
</nav>

@code {


	private List<CategoryDto>? _categories = new List<CategoryDto>();
	private HubConnection _hubConnection;
	private string? _errorMessage = null;
	private string allowedRoles = string.Join(",",
		nameof(UserRoleEnum.SuperAdmin),
		nameof(UserRoleEnum.Admin),
		nameof(UserRoleEnum.Moderator));

	protected override async Task OnInitializedAsync()
	{
		while (AuthStateProvider.IsInitializing)
			await Task.Delay(500);
		await StartHubAsync();
		await GelAllActiveCategoryAsync();
	}

	private async Task LogOutAsync()
	{
		await AuthStateProvider.SetLogoutAsync();
		NavigationManager.NavigateTo("/home", replace: true);
	}

	private async Task GelAllActiveCategoryAsync()
	{
		try
		{
			var response = await CategoryApi.GetAllActiveCategoryAsycn();
			if (response.IsSuccess)
				_categories = response.Data?
					.OrderBy(c => c.CategoryOrder)
					.ToList();
			else
				_categories = null;
		}
		catch (Exception ex)
		{
			_errorMessage = ex.Message;
		}
	}

	private async Task StartHubAsync()
	{
		_hubConnection = new HubConnectionBuilder()
			.WithUrl("https://localhost:7292/categoryhub")
			.WithAutomaticReconnect()
			.Build();

		_hubConnection.On<CategoryDto>("CategoryInfoChangedAsync", (category) =>
		{
			UpdateCategories(category);
			StateHasChanged();
		});

		_hubConnection.On<int, bool>("CategoryPostCountChangedAsync", (categoryId, isPostAdded) =>
		{
			UpdateCategories(categoryId, isPostAdded);
			StateHasChanged();
		});

		await _hubConnection.StartAsync();

		await _hubConnection.SendAsync("JoinCategoryInfoChangedGroup");
		await _hubConnection.SendAsync("JoinCategoryPostCountChangedGroup");
	}

	private void UpdateCategories(CategoryDto category)
	{
		var existingCategory = _categories.FirstOrDefault(c => c.Id == category.Id);

		if (existingCategory != null)
		{
			if (!category.isActive)
				_categories.Remove(existingCategory);
			else
			{
				existingCategory.CategoryName = category.CategoryName;
				existingCategory.CategoryIconUrl = category.CategoryIconUrl;
				existingCategory.CategoryOrder = category.CategoryOrder;
				existingCategory.PostCount = category.PostCount;
			}
		}
		else
		{
			if (category.isActive)
				_categories.Add(category);
		}


		_categories = _categories
			.OrderBy(c => c.CategoryOrder)
			.ToList();
	}

	private void UpdateCategories(int categoryId, bool isPostAdded)
	{
		if (isPostAdded)
			_categories.First(c => c.Id == categoryId).PostCount++;
		else
			_categories.First(c => c.Id == categoryId).PostCount--;
	}

}