@page "/posts/createPosts"

@inject ICategoryApi CategoryApi
@inject IPostApi PostApi
@inject AuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="mx-0 py-5">
	@if (!_isCategoryLoaded)
	{
		<div class="col-lg-8 mx-auto border shadow-lg col-12">
			<div class="mt-3">
				<h1 class="text-center h3">İtiraf Et</h1>
			</div>
			<hr />
			<div class="alert alert-danger">
				<p>Kategoriler yüklenirken bir hata oluştu.</p>
				<p>@_errorMessage</p>
				<p>
					(<a href="/">Ana Sayfaya Dönmek İçin Tıklayın</a>)
				</p>
			</div>
		</div>
	}
	else
	{
		<div class="col-lg-8 mx-auto border shadow-lg col-12 px-3">

			<div class="mt-3">
				<h1 class="text-center h3">İtiraf Et</h1>
			</div>
			<hr />
			<EditForm Model="_postModel" OnValidSubmit="() => CreatePostAsync(_postModel)">
				<DataAnnotationsValidator />
				<div class="my-3">
					<AutoCompleteComponent TItemType="CategoryViewModel"
										   DisplayedItemsList="_categories"
										   SelectedItem="_selectedCategory"
										   SelectedItemChanged="CategorySelected"
										   StaticPlaceholder="Kategori Seçiniz"
										   DisplayProperty="@(x => x.CategoryName)">
					</AutoCompleteComponent>
				</div>
				<ValidationMessage For="() => _postModel.CategoryId" />
				@if (_selectedCategory != null)
				{
					<div class="my-3">
						<label class="form-label">Başlık : </label>
						<InputText @bind-Value="_postModel.Title" class="form-control" />
						<ValidationMessage For="() => _postModel.Title" />
					</div>
					<div class="my-3">
						<label class="form-label">İçerik: </label>
						<InputTextArea @bind-Value="_postModel.Content" class="form-control" rows="6" />
						<ValidationMessage For="() => _postModel.Content" />
					</div>

					@if (_errorMessage != null)
					{
						<div class="mb-3 text-bg-danger text-white p-2">
							<p>@_errorMessage</p>
						</div>
					}

					<div class="row mb-3 mx-auto">
						@if (!_isBusy && !_isSuccess)
						{
							<button type="submit" class="btn blue text-white fw-semibold">İtiraf Et</button>
						}
						else if (_isSuccess)
						{
							<button class="btn blue text-white fw-semibold" type="button" disabled>
								İtiraf Et
							</button>
						}
						else
						{
							<button class="btn blue text-white fw-semibold" type="button" disabled>
								<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
								İtiraf ediliyor.
							</button>
						}
					</div>
				}
			</EditForm>

			<div class="my-3">
				@if (_isSuccess)
				{
					<div class="alert alert-success">
						<p>İtirafınız başarıyla gönderildi.</p>
						<p>@_successMessage</p>
						<p>
							(<a href="@($"/posts/{_latestPostId}")">Hemen Gitmek İçin Tıklayın</a>)
						</p>
					</div>
				}
			</div>
		</div>
	}
</div>

@code {
	private PostViewModel _postModel = new();
	private CategoryViewModel? _selectedCategory = new();
	private List<CategoryViewModel>? _categories = new();
	private bool _isBusy = false;
	private bool _isSuccess = false;
	private bool _isCategoryLoaded = false;

	private string? _errorMessage = null;
	private string? _successMessage;
	private Guid _userId;
	private int? _latestPostId;

	protected override async Task OnInitializedAsync()
	{
		await GetAllActiveCategoriesAsycn();
		_selectedCategory = null;
	}
	private async Task GetAllActiveCategoriesAsycn()
	{
		try
		{
			var response = await CategoryApi.GetAllActiveCategoriesAsycn();
			if (response.IsSuccess)
			{
				_isCategoryLoaded = true;
				_categories = response.Data;
			}
			else
			{
				_isCategoryLoaded = false;
				_errorMessage = response.ErrorMessage;
				_categories = null;
			}

		}
		catch (Exception ex)
		{
			_isCategoryLoaded = false;
			_errorMessage = ex.Message;
		}

	}

	private async Task CreatePostAsync(PostViewModel model)
	{
		if (_isBusy) return;

		ClearMessages();
		_isBusy = true;

		try
		{
			_userId = Guid.Parse(AuthStateProvider.User?.id);

			model.CategoryId = _selectedCategory?.Id ?? throw new Exception("Kategori seçilmedi.");

			var response = await PostApi.CreatePostAsync(model, _userId);

			if (!response.IsSuccess)
			{
				_errorMessage = response.ErrorMessage;
				return;
			}

			var createdPostApiResonse = await PostApi.GetCreatedPostIdAsync(_userId);
			if (createdPostApiResonse.IsSuccess)
			{
				_latestPostId = createdPostApiResonse.Data;
				_isSuccess = true;
				_successMessage = "İtirafınız başarıyla gönderildi. 5 saniye içinde yönlendirileceksiniz.";
				await StartCountdownAsync(5);
			}
			else
				_errorMessage = createdPostApiResonse.ErrorMessage;


		}
		catch (Exception ex)
		{
			_errorMessage = ex.Message;
		}
		finally
		{
			_isBusy = false;
		}
	}

	private void ClearMessages()
	{
		_errorMessage = null;
		_successMessage = null;
	}

	private async Task StartCountdownAsync(int countdown)
	{
		var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

		try
		{
			while (countdown > 0 && await timer.WaitForNextTickAsync())
			{
				countdown--;
				await InvokeAsync(StateHasChanged);
			}
		}
		finally
		{
			timer.Dispose();
			await InvokeAsync(() => NavigationManager.NavigateTo($"/posts/{_latestPostId}"));
		}
	}

	private void CategorySelected(CategoryViewModel dto)
	{
		_selectedCategory = dto;
	}
}
