@page "/admin/adminastorPanel"


								<div class="mt-3">

		<h1 class="mb-0 fw-bold text-dark-emphasis text-center">
			<i class="bi bi-person-gear me-2"></i>
			Yönetici Paneli
		</h1>			</div>	<hr />
	<AuthorizeView Context="Categories">
		<Authorized>
			<AuthorizeView Roles="@SuperAdminAdmin">
				<div class="border-start border-5 border-danger ps-3 py-2 mb-4 blue" @onclick="ToggleCategory">
					<h3 class="mb-0 fw-bold text-white d-flex align-items-center" style="cursor: pointer;">
						<i class="bi bi-folder2-open me-2"></i>
						Kategori İşlemleri
						<i class="bi ms-auto @(isCategoryVisible ? "bi-chevron-up" : "bi-chevron-down") fs-5 text-muted"></i>
					</h3>
				</div>

				@if (isCategoryVisible)
				{

						<div class="d-flex flex-column gap-3 mb-4 transition-opacity">

							<NavLink class="text-decoration-none" href="admin/createcategory">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-plus-circle text-success fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Kategori Ekle</span>
								</div>
							</NavLink>
							<NavLink class="text-decoration-none" href="admin/editcategory">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-pencil-square text-primary fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Kategori Düzenle</span>
								</div>
							</NavLink>

						</div>

				}
			</AuthorizeView>
		</Authorized>
	</AuthorizeView>

	<AuthorizeView Context="Users">
		<Authorized>
			<AuthorizeView Roles="@SuperAdminAdminModerator">
				<div class="border-start border-5 border-danger ps-3 py-2 mb-4 blue" @onclick="ToggleUsers">
					<h3 class="mb-0 fw-bold text-white d-flex align-items-center" style="cursor: pointer;">
						<i class="bi bi-people me-2"></i>
						Kullanıcı İşlemleri
						<i class="bi ms-auto @(isUsersVisible ? "bi-chevron-up" : "bi-chevron-down") fs-5 text-muted"></i>
					</h3>
				</div>

				@if (isUsersVisible)
				{

					<div class="d-flex flex-column gap-3 mb-4 transition-opacity">
						<AuthorizeView Roles="@SuperAdminAdminModerator" Context="SuperAdminAdminModerator">

							<NavLink class="text-decoration-none" href="admin/banUsers">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-pencil-square text-primary fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Kullanıcıyı Banla</span>
								</div>
							</NavLink>

							<NavLink class="text-decoration-none" href="admin/checkComplaint">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-plus-circle text-success fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Şikayetleri Gör</span>
								</div>
							</NavLink>
						</AuthorizeView>
						<AuthorizeView Roles="@SuperAdmin" Context="SuperAdmin">
							<NavLink class="text-decoration-none" href="admin/changeUserRole">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-plus-circle text-success fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Kullanıcı Rolünü Değiştir</span>
								</div>
							</NavLink>
							<NavLink class="text-decoration-none" href="admin/usersWithRoles">
								<div class="card shadow-md border-0 bg-light-subtle d-flex flex-row align-items-center p-2 rounded-3">
									<i class="bi bi-plus-circle text-success fs-4 me-3"></i>
									<span class="fs-6 fw-semibold text-dark-emphasis">Kullanıcıları Gör</span>
								</div>
							</NavLink>
						</AuthorizeView>
					</div>
				}
			</AuthorizeView>
		</Authorized>
	</AuthorizeView>



@code {
	private bool isCategoryVisible = false;
	private bool isUsersVisible = false;

	private string SuperAdminAdminModerator = string.Join(",",
		nameof(UserRoleEnum.SuperAdmin),
		nameof(UserRoleEnum.Admin),
		nameof(UserRoleEnum.Moderator));

	private string SuperAdminAdmin = string.Join(",",
		nameof(UserRoleEnum.SuperAdmin),
		nameof(UserRoleEnum.Admin));

	private string SuperAdmin = string.Join(",",
		nameof(UserRoleEnum.SuperAdmin));

	private void ToggleCategory()
	{
		isCategoryVisible = !isCategoryVisible;
	}

	private void ToggleUsers()
	{
		isUsersVisible = !isUsersVisible;
	}



}
